body {

background-color:black;
color:black;


}


.container {

width:400px;
height:150px;
background-color:white;
border:2px solid black;

}

.content {

margin-left:auto;
margin-right:auto;
width:95%;

}

.lt-panel {

float:left;
width:60%;

}

.rt-panel{

float:left;
width:40%;

}




img {
text-align:center;
vertical-align: middle;
width:80%;

}
