body {

background-color:black;
color:black;
font-family: 'Lato', sans-serif;


}


.container {

width:400px;
height:150px;
background-color:white;
border:2px solid black;

}

.content {

margin-left:auto;
margin-right:auto;
width:95%;
height:100%;

}

.lt-panel {
height:100%;
float:left;
width:60%;

}

.rt-panel{
height:100%;
float:left;
width:40%;

}

.social {

width:100%;
height:30%;
margin-left:auto;
margin-right:auto;

}

.link {
width:50%;
float:left;
text-align: center;

}

.link i {

  font-size:30px;
  color:green;
}

.link a:hover {

color:red;

}

.whatsapp {
width:50%;
text-align: center;
float:left;

}

.whatsapp i {

  font-size:30px;
  color:green;
}



.profile { height:40%;
  width:100%;
  display: block;
}


.profile h2 {

font-size:16px;

}

.profile h4 {

  font-size:14px;
}




img {
text-align:center;
vertical-align: middle;
width:80%;

}
